.map-view {
  background-color: rgb(95, 60, 66);
  width: 100%;
  height: 100%;
  position: absolute;
}

div.mapDisplayContainer {
  width: 92%;
  margin: 0 auto;
  margin-right: 6%;
  margin-left: 2%;
}

.team-name {
  display: inline-block;
  margin-before: 6px;
  margin-after: 6px;
  border-radius: 15px;
  padding: 3px;
  font-size: x-large;
  font-weight: bold;
  background: rgba(255, 255, 255, .2) url(../../assets/images/overlay.png) repeat-x;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.player-name {
  display: inline-block;
  margin-before: 6px;
  margin-after: 6px;
  border-radius: 15px;
  padding: 3px;
  font-size: large;
  font-weight: bold;
  background: #c8e5bc url(../../assets/images/overlay.png) repeat-x;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

li.team {
  display: inline-block;
  list-style-type: none;
  border-radius: 100px;
  padding: 8px;
  text-align: center;
  margin: 5px;
  background: url(../../assets/images/overlay.png) repeat-x;
}

ul {
  padding: 0;
  margin: 0;
}

ul.players {
  position: relative;
  min-height: 5px;
  min-width: 100px;
  display: inline-block;
}

ul.players > li {
  border-radius: 5px;
  float: left;
  margin-right: 2px;
  list-style-type: none;
  position: relative;
  width: 100px;
  height: 140px;
}

ul.players > li.player {
  border: 3px outset whitesmoke;
  background-color: #006666;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  padding: 6px;
  img {
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  }
}

li.team:nth-child(4n+1) {
  background-color: #5DA7FF;
}

li.team:nth-child(4n+2) {
  background-color: #8E62FF;
}

li.team:nth-child(4n+3) {
  background-color: #4FFF96;
}

li.team:nth-child(4n+0) {
  background-color: #FFBB4F;
}

/**
* ERROR MESSAGES
*/
.errorMessage {
  background-color: #eee;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  left: 50%;
  margin-left: -10%;
  padding: .5em;
  position: fixed;
  text-align: center;
  top: 30px;
  width: 20%;
  z-index: 500;
}

/**
 * DRAG AND DROP STYLES
 */
.dndDragging {
  opacity: 0.7;
}

.dndDraggingSource {
  display: none;
}

ul.players > .dndPlaceholder {
  border: 3px solid #bbb;
  background-color: #bbb;
}

/**
 * http://nicolasgallagher.com/micro-clearfix-hack/
 * This makes elements expand their size to contain the child elements when the child elements have float:left
 */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
