span(ng-show='error' class='errorMessage') {{error.message}}

div
  h1 Map

p {{currentPath}}

div(class='mapDisplayContainer')
  ul(ng-include="'teamMapTemplate'" class='teams cf')


script(type='text/ng-template' id='teamMapTemplate')
  li(ng-repeat='team in teamPlayersMap' ng-include="'teamTemplate'" class='team')


script(type='text/ng-template' id='teamTemplate')
  div
    div(class='team-name' ng-click='goToTeam(team.path)') {{team.team}}
  ul(class='players cf' dnd-list='team.players' dnd-allowed-types="['playerType']" dnd-horizontal-list='true' dnd-drop="playerDroppedIntoTeamCB(item, team, index, event);")
    li(ng-repeat='player in team.players' class='player' dnd-draggable='player' dnd-type="'playerType'" dnd-moved="team.players.splice($index, 1);" dnd-effect-allowed='move')
      img(gravatar-src-once='player.email' gravatar-size="100" alt='Profile Icon')
      div(class='player-name') {{player.name}}
  ul(ng-if='team.subTeams' ng-init='teamPlayersMap = team.subTeams' ng-include="'teamMapTemplate'" class='teams cf')
