h1 Players:

p(class='message'){{handler.message}}

h3 Add New Player:
label(for='name') Name
input(type='text', id='name', ng-model='newPlayer.name')
label(for='email') Email
input(type='text', id='email', ng-model='newPlayer.email')
button(type='button', ng-click='addPlayer()') Add Player

ul(ng-repeat='player in players')
  li(ng-class='{disabled: ngDisabled}', ng-init='ngDisabled=true')
    input(type='text', ng-readonly='ngDisabled', ng-model='player.name', value='{{player.name}}', ng-click='ngDisabled = false')
    input(type='text', ng-readonly='ngDisabled', ng-model='player.email', value='{{player.email}}', ng-click='ngDisabled = false')
    button(ng-click='update(player)') Save
a(href='/playersMap', title='Map View') Map View
