ul.players {
  list-style-type: none;

  li {
    border: 3px solid #56D7D7;
    border-radius: 5px;
    float: left;
    padding: 5px;
    margin-right: 5px;
    width: 8%;
    min-height: 11em;

    img {
      width: 80%;
      margin-left: 10%;
    }

    div {
      margin-left: 25%;
    }

    &.ng-enter, .ng-move {
      -webkit-animation: fadeIn 1s;
      -moz-animation: fadeIn 1s;
      -o-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    &.ng-leave {
      -webkit-animation: fadeOut 1s;
      -moz-animation: fadeOut 1s;
      -o-animation: fadeOut 1s;
      animation: fadeOut 1s;
    }
  }
}
