div.mapDisplayContainer {
  width: 92%;
  margin: 0 auto;
  margin-right: 6%;
  margin-left: 2%;
}

ul.teams {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

li.team {
  list-style-type: none;
  border-radius: 10px;
  padding-bottom: 15px;
  text-align: center;
  min-height: 13em;
  margin-top: 1em;
}

ul.players {
  position: relative;
  min-height: 11em;
}

ul.players > li {
  border-radius: 5px;
  float: left;
  padding: 5px;
  margin-right: 5px;
  width: 7em;
  min-height: 11em;
  list-style-type: none;
  position: relative;
}

ul.players > li.player {
  border: 3px solid #56D7D7;
  background-color: white;

  img {
    width: 80%;
    margin: 8% auto;
  }
}

li.team:nth-child(4n+1) {
  background-color: #5DA7FF;
  border: 3px solid #1E5CA6;
}
li.team:nth-child(4n+2) {
  background-color: #8E62FF;
  border: 3px solid #4520A6;
}
li.team:nth-child(4n+3) {
  background-color: #4FFF96;
  border: 3px solid #1AA652;
}
li.team:nth-child(4n+0) {
  background-color: #FFBB4F;
  border: 3px solid #A66F1A;
}

/**
* ERROR MESSAGES
*/
.errorMessage {
  background-color: #eee;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  left: 50%;
  margin-left: -10%;
  padding: .5em;
  position: fixed;
  text-align: center;
  top: 30px;
  width: 20%;
  z-index: 500;
}

/**
 * DRAG AND DROP STYLES  
 */
.dndDragging {
  opacity: 0.7;
}

.dndDraggingSource {
  display: none;
}

ul.players > .dndPlaceholder {
    border: 3px solid #bbb;
    background-color: #bbb;
}


/**
 * http://nicolasgallagher.com/micro-clearfix-hack/
 * This makes elements expand their size to contain the child elements when the child elements have float:left 
 */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}