h1 Map
input.searchBox(type="text" ng-model="searchText" placeholder="Search Cards...")
p
input.searchBox(type="text" ng-model="searchTeam" placeholder="Search Teams...")
p
div(class='teamMapHolder')
  ul(ng-repeat='team in teamPlayersMap | filter: searchTeam' class='team')
    div
      p {{team.team}}
      li(ng-repeat='player in team.players | filter: searchText')
        img(src='assets/images/pillow.jpg', alt='Profile Icon')
        div {{player.name}}