.players-table-view {
  background-color: rgb(47, 77, 95);
  width: 100%;
  height: 100%;
  position: absolute;
}

.error {
  color: red !important;
}

.message {
  color: green;
}

.disabled {
  input {
    color: grey;
  }
}

table.players {
  display: inline-block;
}

td:nth-of-type(1) input {
  width: 5em;
}

td:nth-of-type(2) input {
  width: 200px;
}

td:nth-of-type(3) input {
  width: 200px;
}
