div(class='players-table-view')
  div(players-common="")

  div
    a(href="/worlds/{{world.id}}/playersMap" class="green button" title="Map View")
      div(class="fa fa-street-view fa-2x")
      div(class="fa fa-street-view fa-2x")
      div(class="fa fa-street-view fa-2x")
      div Map View

  a(id='google-sign-in' href='/auth/google') Sign In
  p(class='message', ng-class='{error: handler.error}') {{handler.message}}

  table(class='players')
    thead
      tr
        th Name
        th Email
        th Team Path
        th
    tbody
      tr(ng-form name='playerAddForm')
        td
          input(type='text', id='name', ng-model='newPlayer.name', ng-required placeholder='Place name here...')
        td
          input(type='text', id='email', ng-model='newPlayer.email', ng-class='{error: newPlayer.error}', ng-required placeholder='format (name@domain.com)')
        td
          input(type='text', id='team', ng-model='newPlayer._team' ng-pattern='/\/[\[a-zA-Z]+/' ng-required placeholder='format (/teamx)')
        td
          button(type='button', id='addPlayer' ng-click='addPlayer(playerAddForm)') Add Player
      tr(ng-repeat='player in players', ng-class='{disabled: !active}', ng-init='active=false; edited=false')
        td
          input(type='text', ng-model='player.name', value='{{player.name}}', ng-focus='active=true', ng-blur='active=false', ng-change='edited=true', ng-readonly='!active')
        td
          input(type='text', ng-model='player.email', value='{{player.email}}', ng-class='{error: player.error}', ng-focus='active=true', ng-blur='active=false', ng-change='edited=true', ng-readonly='!active')
        td
          input(type='text', ng-model='player._team', ng-focus='active=true', ng-blur='active=false', ng-change='edited=true', ng-readonly='!active')
        td
          button(ng-click='update(player); active=false; edited=false', ng-show='edited') Save
