$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

body {
  text-align: center;
  margin: 0;
  background-color: black;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../assets/images/overlay.png) repeat-x;
  font-size: 13px;
  padding: 8px 14px 9px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke-width: initial;
  -webkit-text-stroke-color: initial;
  margin: 2px;
  transition: all ease-out 0.2s;
}

.pink {
  background-color: rgb(189, 51, 75);
}

.green {
  background-color: #33BD5F;
}

.button:hover {
  transition: all ease-out 0.2s;
  &.pink {
    background-color: darkcyan;
  }
  &.green {
    background-color: #1F733A;
  }
}

.view-title {
  display: inline-block;
  margin-before: 6px;
  margin-after: 6px;
  border-radius: 15px;
  padding: 6px;
  font-size: xx-large;
  font-weight: bold;
  background: rgba(255, 255, 255, .2) url(../../assets/images/overlay.png) repeat-x;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.6);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'players/players-common/players-common.scss';
@import 'players/players.scss';
@import 'players/playersMap.scss';
@import 'worlds/worlds.scss';
// endinjector
