div.navbar-header {
    min-height: 50px;
}
#navbar-main { 
    background: #315d84;
    display:block;
    margin-bottom:30px;
    &.collapse {
        display:none;
    } 
    ul.nav {
        display:block;
        margin: 0px;
        padding: 0px;
        border:1px solid gray;
        min-height: 100px;
        li {
            padding: 20px 10px;
            display: block;
            a{
                &:link, &:visited, &:active{
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}