p(class='white') Worlds
label(for='name', class='white') Name:
input(type='text', id='name', ng-model='newWorld.name', ng-required)
button(type='button', ng-click='addWorld()') Add

div(id="worldsList" ng-repeat='world in worlds', class='white')
    a(id="worldLink" href="/worlds/{{convertToLowerCaseNoSpaces(world.name)}}/players?displayableWorld={{world.name}}")(ng-show="!worldEditMode") {{world.name}} &nbsp;
    input(id="worldNameText" type='text', ng-model='updatedWorldName' ng-value="updatedWorldName == undefined ? world.name : updatedWorldName" )(ng-show="worldEditMode")
    i.fa.fa-pencil-square-o.fa-fw(id="editItem" ng-click='worldEditMode = true')(ng-show="!worldEditMode")
    i.fa.fa-floppy-o.fa-fw(id="saveItem" ng-show="worldEditMode")(ng-click='updateWorld(world.name, updatedWorldName); worldEditMode = false;')
    i.fa.fa-undo.fa-fw(id="undoItem" ng-show="worldEditMode")(ng-click='worldEditMode = false; updatedWorldName = world.name')
    i.fa.fa-trash.fa-fw(id= "deleteItem" ng-show="worldEditMode")(ng-click="deleteWorldOnUserConfirmation(world.name)")

