div(id="FarseerTitleBlock" style="background-color: green;")
    div(class="title")
        p Welcome to Farseer.
    form(name="login" action="/test-login" method="post")
        input(type="text" name="username")
        input(type="password" name="password")
        input(type="submit" value="Log in!")
    br
    br